.custom-multiselect {
    height: 35px;
    min-height: 35px;
}

.search-wrapper {
    height: 35px;
    min-height: 35px !important;
    padding: 2px;
}

.optionListContainer {
    background-color: transparent;
}