*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background .7s ease-in-out, color.7s ease-in-out;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    height: 100%;
    line-height: 1;
    font-size: 10px;
    color: #000;
    font-family: JosefinSansMedium, Arial, serif;
    font-weight: 500;

}

@media screen and (max-width: 1050px) {
    body {
        overflow-x: hidden;
    }
}

:root {
    --bg-main-background: url("assets/pictures/profilePageBackground.jpg");
    --bg-home-background-color: rgba(218, 224, 230, 255);
    --background-color: #FFF;
    --feedback-background-color: #EEF1F0;
    --table-selected-row-background: #c8e6c9;
    --text-color: #000000;
    --modal-border: 0.01em solid rgba(0, 0, 0, 0.2);
    --dropzone-border: 2px dashed #eeeeee;
    --dropzone-background-color: #fafafa;
    --dropzone-color: #bdbdbd;
    --recommendations-menu-bg: initial;
    --border-color: #000;
}

body[data-theme="dark-theme"] {
    --bg-main-background: url("assets/pictures/backgroundFiber.jpg");
    --bg-home-background-color: #171718;
    --background-color: #262624;
    --feedback-background-color: #1A1A1BCC;
    --table-selected-row-background: #3a3a3d;
    --text-color: #fff;
    --modal-border: 1 #000000;
    --dropzone-border: 2px dashed #424242;
    --dropzone-background-color: transparent;
    --recommendations-menu-bg: #3a3a3d;
    --border-color: transparent;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'JosefinSansExtraLightItalic';
    src: local('JosefinSans'), url(assets/fonts/JosefinSans-ExtraLightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'JosefinSansRegular';
    src: local('JosefinSans'), url(assets/fonts/JosefinSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'JosefinSansMedium';
    src: local('JosefinSans'), url(assets/fonts/JosefinSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Avenir;
    src: url(assets/fonts/AvenirRegular.ttf) format('truetype');
}

* {
    color: var(--text-color);
    font-size: 15px;
}


.quill > .ql-container > .ql-editor.ql-blank::before {
    color: var(--text-color);
}

.ql-editor {
    cursor: text;
    min-height: 200px;
}

.centered-without-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1450px) {
    .no-wrap-on-normal-screen {
        white-space: nowrap;
    }
}

@media screen and (min-width: 424px) {
    .no-wrap-on-big-screen {
        white-space: nowrap;
    }
}

@media screen and (max-width: 1020px) {
    .nav-elements-margin {
        margin-bottom: 15px;
    }
}

.page-container {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
}

.thumb {
    display: inline-flex;
    margin-bottom: 8px;
    margin-right: 8px;
    max-width: 320px;
    height: 320px;
    padding: 4px;
    box-sizing: border-box;
}

.thumb-short {
    display: inline-flex;
    margin-bottom: 8px;
    margin-right: 8px;
    max-width: 150px;
    height: 150px;
    padding: 4px;
    box-sizing: border-box;
}

.thumb-inner {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

.review-img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
}