
.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.review_modal_headers {
  font-size: 20px;
}

.cancelUserSelect{
  user-select: none;
}

.reviews_table_button {
  white-space: nowrap;
  user-select: none;
  color: white;
  text-decoration: none;

}
.reviews_table_button_container {
  display: flex;
  justify-content: flex-end;
}



.log_in_button {
  white-space: nowrap;
}

.navbar_brand {
  float: none;
}

.custom_spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.navbar_home_button_container {
  padding-left: 20px;
}

.navbar_home_button {
  white-space: nowrap;
  user-select: none;
  font-size: 25px;
  color: white;
  text-decoration: none;
}


.navbar_users_data_button {
  white-space: nowrap;
  padding-right: 15px;
  user-select: none;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.users_data_page_button_group {
  padding-left: 10px;
}

.navbar_auth_button {
  padding-right: 45px;
}

.users_data_page_container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.fonts {
  font: italic small-caps bold 16px/2 cursive;
  color: white;
  font-size: 55px;
}

.home_container {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  user-select: none;
  justify-content: center;
}

.home_background {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home_button {
  font: italic small-caps bold 16px/2 cursive;
  border-radius: 15px;
  height: 100px;
  width: 240px;
  font-size: 30px;
  user-select: none;
  margin: 0 auto;
  display: block;
}