.search-page-container {
    background-image: var(--bg-main-background);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search-page-title {
    font-size: 30px;
    margin: 20px auto;
}